BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
PointerAlignment: Left
SortIncludes: false
